body {
    background-color: #eaf4fc;
}
header {
    background-color: #84a2d4;
    height: 60px;
}
header img {
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -5px;
}
#breadcrumb_list {
    padding: 10px;
}

body main {
    padding: 0 10px;
}